samples/src/main/resources/mtom.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsimpl.ws.csb.alibaba.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsimpl.ws.csb.alibaba.com/" name="AttachmentWSService">
<wsp:Policy wsu:Id="AttachmentWSPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"></ns1:OptimizedMimeSerialization>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://wsimpl.ws.csb.alibaba.com/" schemaLocation="mtom-schema.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="fileUpload">
<part name="parameters" element="tns:fileUpload"></part>
</message>
<message name="fileUploadResponse">
<part name="parameters" element="tns:fileUploadResponse"></part>
</message>
<message name="fileDownload">
<part name="parameters" element="tns:fileDownload"></part>
</message>
<message name="fileDownloadResponse">
<part name="parameters" element="tns:fileDownloadResponse"></part>
</message>
<message name="echoStringAsBinary">
<part name="parameters" element="tns:echoStringAsBinary"></part>
</message>
<message name="echoStringAsBinaryResponse">
<part name="parameters" element="tns:echoStringAsBinaryResponse"></part>
</message>
<message name="echoBinaryAsString">
<part name="parameters" element="tns:echoBinaryAsString"></part>
</message>
<message name="echoBinaryAsStringResponse">
<part name="parameters" element="tns:echoBinaryAsStringResponse"></part>
</message>
<portType name="AttachmentWS">
<operation name="fileUpload">
<input wsam:Action="http://wsimpl.ws.csb.alibaba.com/AttachmentWS/fileUploadRequest" message="tns:fileUpload"></input>
<output wsam:Action="http://wsimpl.ws.csb.alibaba.com/AttachmentWS/fileUploadResponse" message="tns:fileUploadResponse"></output>
</operation>
<operation name="fileDownload">
<input wsam:Action="http://wsimpl.ws.csb.alibaba.com/AttachmentWS/fileDownloadRequest" message="tns:fileDownload"></input>
<output wsam:Action="http://wsimpl.ws.csb.alibaba.com/AttachmentWS/fileDownloadResponse" message="tns:fileDownloadResponse"></output>
</operation>
<operation name="echoStringAsBinary">
<input wsam:Action="http://wsimpl.ws.csb.alibaba.com/AttachmentWS/echoStringAsBinaryRequest" message="tns:echoStringAsBinary"></input>
<output wsam:Action="http://wsimpl.ws.csb.alibaba.com/AttachmentWS/echoStringAsBinaryResponse" message="tns:echoStringAsBinaryResponse"></output>
</operation>
<operation name="echoBinaryAsString">
<input wsam:Action="http://wsimpl.ws.csb.alibaba.com/AttachmentWS/echoBinaryAsStringRequest" message="tns:echoBinaryAsString"></input>
<output wsam:Action="http://wsimpl.ws.csb.alibaba.com/AttachmentWS/echoBinaryAsStringResponse" message="tns:echoBinaryAsStringResponse"></output>
</operation>
</portType>
<binding name="AttachmentWSPortBinding" type="tns:AttachmentWS">
<wsp:PolicyReference URI="#AttachmentWSPortBinding_MTOM_Policy"></wsp:PolicyReference>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="fileUpload">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="fileDownload">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="echoStringAsBinary">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="echoBinaryAsString">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AttachmentWSService">
<port name="AttachmentWSPort" binding="tns:AttachmentWSPortBinding">
<soap:address location="http://10.101.12.144:9085/mtom-webservice"></soap:address>
</port>
</service>
</definitions>
